.webpage{
    height: 800px;
    background-image: url(./b.jpg);
    background-size: 1423px;
}

.heading{
    position: absolute;
    left: 185px;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -22px;
}

.image{
    background-image: url();
    position: absolute;
    left: 100px;
    top: 70px;
    border: solid 1px rgb(175, 175, 175);
    width: 260px;
    height: 280px;
    box-shadow: 4px 4px 9px 1px rgb(180, 180, 180);
    border-radius: 50%;
}

.personal-info{
    position: absolute;
    left: 70px;
    top: 370px;
    border: solid 2px rgb(2, 1, 1);
    height: 250px;
    width: 320px;
    border-radius: 10px;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 6px 6px 9px 3px rgb(187, 187, 187);
}

.hobby{
    position: absolute;
    top: 80px;
    left: 430px;
    border: solid 1.8px rgb(2, 1, 1);
    width: 230px;
    height: 190px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(238, 238, 238);
    box-shadow: 4px 4px 9px 1px rgb(187, 187, 187);
}

.soc{
    position: absolute;
    top: 235px;
    left: 600px;
    border: solid 1.8px rgb(2, 1, 1);
    width: 230px;
    height: 190px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(238, 238, 238);
    box-shadow: 4px 4px 9px 1px rgb(187, 187, 187);
}

.edu{
    position: absolute;
    top: 415px;
    left: 490px;
    border: solid 1.8px rgb(2, 1, 1);
    width: 250px;
    height: 190px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(238, 238, 238);
    box-shadow: 4px 4px 9px 1px rgb(187, 187, 187);
}

#fb{
    font-size: xx-large;
    position: absolute;
    top: 560px;
    left: 800px;
    text-shadow: 1.5px 1.5px 1.5px rgb(131, 131, 131);;
    color: #353535;
}

#insta{
    font-size: xx-large;
    position: absolute;
    top: 500px;
    left: 880px;
    text-shadow: 2px 2px 2px rgb(131, 131, 131);;
    color: #353535;
}

#in{
    font-size: xx-large;
    position: absolute;
    top: 590px;
    left: 880px;
    text-shadow: 1.5px 1.5px 1.5px rgb(131, 131, 131);;
    color: #353535;
}

#twit{
    font-size: xx-large;
    position: absolute;
    top: 470px;
    left: 800px;
    text-shadow: 2px 2px 2px rgb(131, 131, 131);;
    color: #353535;
}